<!DOCTYPE html>

<html>

<head>
    <TITLE> About</TITLE>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/CSS/styles.css">
</head>

<body>
    <div class = "main-content">
        {{>header}}
        <p> This site was created by Darren. It uses a lot of apis to get it working but was a great learning experience. I hope this commit works.</p>
        <img class="protrait" src="img/carSmall.jpg">
    </div>
    {{>footer}}
</body>

</html>