<!DOCTYPE html>

<html>

<head>
    <TITLE> About</TITLE>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/CSS/styles.css">
</head>

<body>
    <div class = "main-content">
        {{>header}}
        <img class="protrait" src="/img/WIN_20210116_01_30_26_Pro.png">
    </div>
    {{>footer}}
</body>

</html>